.Header a{
    text-decoration: none;
    color: white;
}

body{
    font-family: sans-serif;
    margin: 0;  
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #1f52ae;
    min-height : 70px;
    align-items: center;
    padding: 10px;

}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

.logo-nombre{
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}


.Header nav a{
    font-weight: 600;
    margin-right: 10px;
}

.Header nav a:hover{
    color: black;
}


/**********  MEDIA QUERIES  **********/


@media screen and (max-width: 768px){
    header{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }
    .logo{
        margin-bottom: 20px;
    }

    nav{
        margin-top: 20px;
    }


}

/********************************************************Todo el producto*************************/

.Todo-el-producto{
    width: 100%;
    display: flex;
    margin-top: 80px;

    padding-bottom: 10%;
}

.swiper-Producto_1 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    position: relative;
    width: 500px;
    height: 500px;
    margin-right: 50px;
    margin-left: 25%;
}

.swiper-Producto_1 img{
    height: auto;
    width : 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Producto-texto{
    width: 500px;
    height: 500px;
    text-align: left;
}

@media screen and (max-width: 768px){
    .Todo-el-producto{
        flex-direction: column;
        margin-top: 0;
    }

    .swiper-Producto_1{
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-left: 0;
        margin-top: 20px;
        
    }

    .Producto-texto{
        width: 100%;
        height: auto;
        padding: 20px;
    }
}

/*********************************Footer********************************/


.pie-pagina{
    width: 100%;
    background-color: #224e96;
}

.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:50px;
    padding: 45px 0;
}

.pie-pagina .grupo1 .box figure{
    display: flex;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo1 .redes-sociales a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #efefef;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: all 300ms ease;
}

.pie-pagina .grupo1 .redes-sociales a:hover{
    background-color: #efefef;
    color: #0d2033;
}


.pie-pagina .grupo2{
    background-color: #182c53;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 768px){
    .pie-pagina .grupo1{
        width:90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0;
    }
}